{% extends 'base.html' %}
{% block title %} Todo List {% endblock %}
{% block todoactive %} active {% endblock %}
{% block head %} {% endblock %}
{% block body %}
<div class="container">
<!-- Todo List Section -->
<div class="container todo-section">
  <h2>Things i have to do!</h2>
  <form action="{% url 'todolist:home_todo' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="title" id="myInput" placeholder="Create new task" />
    <button type="submit" class="btn todo-btn">Add</button>
  </form>
  <ul class="todo-list">
    {% for todo in todos reversed %}
    <li>
      <span>{{ todo.title | title }}</span>
      <span><a class="btn delete-btn" href="delete/{{todo.id}}">Delete</a></span>
    </li>
    {% endfor %}
  </ul>
</div>
<!-- Weather Section -->
<div class="container weather-section">
  <h2>Check the Weather Forecast</h2>
  <form class="d-flex" method="post" action="{% url 'todolist:home_todo' %}">
    {% csrf_token %}
    <input class="form-control me-2" type="search" name="city_name" placeholder="Enter a city" aria-label="Search" />
    <button class="btn weather-search-btn" name="btn_weather_form" type="submit">
      Search
    </button>
  </form>
  <div class="card shadow-0 border mt-3">
    <div class="card-body p-4">
      <h4 class="mb-1 fw-normal">{{ city | title }}</h4>
      <p class="mb-0">Temperature: <strong>{{ temperature }}°C</strong></p>
      <p>Feels Like: <strong>{{ feels_like }}°C</strong></p>
      <div class="mb-2"></div> <!-- Create a space between "Feels Like" and "Humidity" -->
      <p>Humidity: <strong>{{ humidity }}%</strong></p>
      <div class="mb-4"></div> <!-- Create a big space between temperature and humidity -->
      <div class="d-flex flex-row align-items-center">
        <!-- You can customize the weather description and icon here -->
        <p class="mb-0 me-4">{{ weather_description }}</p>
        <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
      </div>
    </div>
  </div>
</div>

</div>

{% endblock %}
